/* *{
  margin: 0;
  padding: 0;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 4px gray;
}

.app {
  color: purple;
  background-color: aliceblue;
}

ul li {
  list-style-type: number;
  margin: 1rem;
  color: blue;
}


