#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
  color: purple;
  background-color: aliceblue;
}

ul li{
  list-style-type: number;
  margin: 1rem;
}


